body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:771px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:2048px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:2048px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1016px;
  width:767px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:580px;
  top:1270px;
  width:170px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
